@use "../colors";

.productcard {
  width: 35rem;
  height: 40rem;
  // max-width: 23%;
  min-width: 30rem;
  box-shadow: inset 0 0 0.5px 1px hsla(0, 0%, 100%, 0.075),
    /* shadow ring 👇 */ 0 0 0 1px hsla(0, 0%, 0%, 0.05),
    /* multiple soft shadows 👇 */ 0 0.3px 0.4px hsla(0, 0%, 0%, 0.02),
    0 0.9px 1.5px hsla(0, 0%, 0%, 0.045), 0 3.5px 6px hsla(0, 0%, 0%, 0.09);
  padding: 2rem;
  border-radius: 3rem;

  .productcard_img {
    width: 100%;
    height: 80%;
    background-color: colors.$gray-50;
    padding: 2rem;
    border-radius: 2rem;
    overflow: hidden;

    > :first-child {
      width: 100%;
      height: 100%;
      object-fit: contain;
      filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.5));
      transition: 0.5s ease-in-out;
    }
  }
  .productcard_ {
    height: 20%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    margin: 0.5rem 0;
    > :first-child {
      > p:first-child {
        font-size: 2rem;
        font-weight: 500;
      }
      > p:last-child {
        font-size: 1.6rem;
        font-weight: 400;
      }
    }
  }
}

.productcard:hover .productcard_img > :first-child {
  scale: 1.1;
  transition: 0.5s ease-in-out;
}

.dark {
  .productcard_img {
    background-color: colors.$l-dark;
  }
}
