@use "../colors";

.orderCompleted {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  align-items: center;
  h1 {
    color: colors.$primary-500;
  }
  .orderCompleted__anim {
    border-radius: 50%;
    overflow: hidden;
    // box-shadow: inset 0 0 15px 0 #c7c7c7;
  }
}

.dark {
  .orderCompleted {
    h1 {
      color: colors.$primary-400 !important;
    }
  }
  .orderCompleted__anim {
    // box-shadow: inset 0 0 15px 0 #292929 !important;
  }
}
