$background: #ffffff;
$blue: #bbe7ef;
$voilet: #dfc8f2;
$pink: #f8cada;
$yellow: #fbe385;

$primary-50: #efeffd;
$primary-100: #dedefa;
$primary-200: #bebdf6;
$primary-300: #9d9bf1;
$primary-400: #7d7aed;
$primary-500: #5c59e8;
$primary-600: #4543ae;
$primary-700: #2e2d74;
$primary-800: #17163a;
$primary-900: #090917;

$white: #ffffff;

$black-500: #667085;
$black-600: #4d5464;
$black-700: #333843;
$black-800: #1a1c21;
$black-900: #0a0b0d;

$gray-25: #f9f9fc;
$gray-50: #f0f1f3;
$gray-100: #e0e2e7;
$gray-200: #c2c6ce;
$gray-300: #a3a9b6;
$gray-400: #858d9d;

$yellow-50: #fdf1e8;
$yellow-100: #fae1cf;
$yellow-200: #f4c3a0;
$yellow-300: #efa670;
$yellow-400: #e98841;
$yellow-500: #e46a11;
$yellow-600: #ab500d;
$yellow-700: #723509;
$yellow-800: #391b04;
$yellow-900: #170b02;

$blue-50: #e8f8fd;
$blue-100: #d0f0fa;
$blue-200: #a1e0f4;
$blue-300: #71d1ef;
$blue-400: #42c1e9;
$blue-500: #13b2e4;
$blue-600: #0e86ab;
$blue-700: #0a5972;
$blue-800: #052d39;
$blue-900: #021217;

$red-50: #feedec;
$red-100: #fcdad7;
$red-200: #f9b4af;
$red-300: #f68f88;
$red-400: #f36960;
$red-500: #f04438;
$red-600: #b4332a;
$red-700: #78221c;
$red-800: #3c110e;
$red-900: #180706;

$green-50: #e7f4ee;
$green-100: #cfe7dc;
$green-200: #9ed0b9;
$green-300: #6eb895;
$green-400: #3da172;
$green-500: #0d894f;
$green-600: #0a673b;
$green-700: #074528;
$green-800: #032214;
$green-900: #010e08;
