@use "../../colors";

.userLayoutProvider {
  width: 100%;
  height: 100dvh;
  display: flex;
  overflow: hidden;

  > :last-child {
    // background-color: colors.$gray-50;
    width: 100%;
    padding: 4rem 5rem;
    padding-bottom: 0;
    overflow: hidden;
    overflow-y: auto;
    > * {
      margin: 3rem 0;
    }
    > :first-child {
      margin-top: 0;
    }
    > :last-child {
      margin-bottom: 0;
    }
  }
}

.dark {
  .userLayoutProvider {
    > :last-child {
      // background-color: #252527;
    }
  }
}

@media (max-width: 768px) {
  .userLayoutProvider {
    > :first-child {
      display: none;
    }
    > :last-child {
      padding: 2rem 3rem;
      scrollbar-width: none !important; /* Firefox */
      -ms-overflow-style: none;
      margin-bottom: 6rem; /* Internet Explorer and Edge */
    }
    > :last-child::-webkit-scrollbar {
      display: none !important;
    }
  }
}
